* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /*background: gray url("../img/tankswar2.jpeg") center top no-repeat;*/
  background-color: black;

  font-family: sans-serif;
  /*-ms-text-shadow:0;
  -moz-text-shadow:0;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);*/
  min-height: 100vh;
  padding-top: 100px;
}

.body-bg {
  background-image: url("../img/tankswar2.jpeg");
  background-position: center top;
  background-repeat: no-repeat;
	background-size: cover;

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.2;
}

.heading {
	font-size: 30px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-bottom: 40px;
}

.box-form {
  background: rgba(255, 255, 255, 0.8);
  width: 350px;
  margin: 0 auto;
  padding: 30px 30px;
  border-radius: 10px;
}

.text-input {
  width: 100%;
  height: 28px;
  margin: 10px 0;
  border-radius: 4px;
  border: none;
  padding: 0 10px;
}

.btn {
  width: 100%;
  background: cadetblue;
  display: block;
  padding: 5px 0;
  text-align: center;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background: #558c8d;
}

footer {
  padding: 50px 0;
  text-align: center;
  color: white;
}
footer a {
  color: white;
  font-weight: 100;
}


/* Sound icon */
input[type="checkbox"] {
  display: none;
}

.sound-icon {
  background: url("../img/speaker.png") center center no-repeat;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

input[type="checkbox"]:checked + .sound-icon {
  background-image: url("../img/speaker-muted.png");
}

/* .mysubmit{
    background: rgb(255,0,0);
    argin-top: 20px;
      margin-bottom: 50px;
      margin-right: 250px;
      margin-left: 415px;
      border-radius: 3px; 

}
input[type~="text"]{
  color= rgb(255,00,00);

}
.btn{
  background: Green;
  border-radius: 3px;

}

}
.cbtn {
      margin-top: 0%;
    margin-left:40%;
    background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
*{margin:0px; padding:0px; font-family:Helvetica, Arial, sans-serif;}

Full-width input fields
input[type=text], input[type=password] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 26px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  font-size:16px;
}

Set a style for all buttons
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 26px;
    border: none;
    cursor: pointer;
    width: 90%;
  font-size:20px;
}
button:hover {
    opacity: 0.8;
}

Center the image and position the close button
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
.avatar {
    width: 200px;
  height:200px;
    border-radius: 50%;
}

The Modal (background)
.modal {
  display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

Modal Content Box
.modal-content {
    background-color: #fefefe;
    margin: 4% auto 15% auto;
    border: 1px solid #888;
    width: 40%; 
  padding-bottom: 30px;
}

The Close Button (x)
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,.close:focus {
    color: red;
    cursor: pointer;
}

Add Zoom Animation
.animate {
    animation: zoom 0.6s
}
@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
} */