body,html{
    height: 100%;
    width: 100%;
  margin: 0;
  font-weight: bold;
  font: bold;
  font-family: 'Times New Roman', Times, serif;
}

#page3{
    background-image: url("../images/game_bg1.jpg");
    height: 100%; 
    widows: 100%;
    background-position: center;
    background-repeat: no-repeat;
   background-size: cover;
   opacity: 0.65;
    display: none;
   
   
}

#collisionFlame
{
width: 10%;
height: 15%;
display:none;
position: absolute;
bottom :16%;

}


#characterDiv{
    background-color:transparent;
    width: 20%;
    height: 8%;
 
    position: absolute;
    right: 5%;
    top: 5%;
}
#characterName{
    margin-top: 0%;
    margin-left:40%;
}
.Bars
{
    border-radius:40%;
    background-color: #26301D;
    width: 80%;
    height: 50%;
    

}
#healthBG
{
    position: absolute;
    right: 10%;
    top: 40%;
}
#healthBar{   
    background-color: #27C422;
    width: 60%;
    position: absolute;
    right: 10%;
    top: 40%;
}
#enemyDiv
{
    background-color:transparent;
    width: 20%;
    height: 8%;
 
    position: absolute;
    right: 75%;
    top: 5%;
}
#enemyName{
    
    margin-top: 0%;
    margin-left:40%;
}
#enemyhealthBG
{
    position: absolute;
    right: 10%;
    top: 40%;
}
#enemyhealthBar{   
    background-color: #27C422;
    width: 80%;
    position: absolute;
    right: 10%;
    top: 40%;
}

#myCharacter{
   
    /* transform: rotateY(180deg); */
    height: 16%;
    width: 9%;
    position: absolute;
    right:  5%;
    bottom : 12%;

}

#enemyTank{
    height: 12%;
    width: 9%;

    position: absolute;
    right:  88%;
    bottom : 12%;
}

#bulletFlame
{
    /* transform: rotateY(90deg); */
    display: none;
    height: 4%;
    width:2%;
    position: absolute;
    right : 13.5%;
    bottom: 22%
}

#EnmenyBulletFlame
{
    transform: rotateY(180deg);
    display: none;
    height: 4%;
    width:2%;
    position: absolute;
    right : 86.5%;
    bottom: 19.5%;
}

.bullet{
    /* display: none; */
    background-color: black;
    width: 1.5%;
    height: 2.5%;
    border-radius:50% ;
}


#playerBullet
{
  

    display: none;
    position: absolute;
    right : 13%;
    bottom: 22%;
    transform-origin: -2500% 250%; 
     /* display: none; */
    /* animation-fill-mode: forwards; */
    /* animation-direction: alternate; */
    /* animation: bulletCurve 4s linear infinite; //Chrome, Firefox 16+, IE 10+, Safari 5  */
  
}  
.bulletCurve
{
    
    animation: bulletCurveAnime 4s ; 
   
   
}

@keyframes bulletCurveAnime {
    from {
      transform:rotate(0deg); 
    }
    to { 
      transform:rotate(-180deg); 
    }
  }

#enemyBullet
{
    display: none;
 
    position: absolute;
    right : 88%;
    bottom: 22%;
    transform-origin: 2500% 250%; 
}

.enemyBulletCurve
{
    
    animation: enemyBulletCurveAnime 4s ; 
   
   
}

@keyframes enemyBulletCurveAnime {
    from {
      transform:rotate(0deg); 
    }
    to { 
      transform:rotate(180deg); 
    }
  }

#begImg
{
    width: 10%;
    height: 27%;
    margin-left: 47%;
    position: absolute;
    bottom: 14%;
   border-image: none;
   display: none;

}
#collisionFlamePlayer
{

display:none;
position: absolute;
}

/* #begCount
{
    width: 12%;
    height: 30%;
    opacity: 1;
    z-index: 99;
    background-color: white;
    position: absolute;
    margin-left: 45%;
    margin-top: 27%;
} */